<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/new.css">
<%- include('../partials/nav') %>

<body>
  <main>

    <section>
      <h1>New Project</h1>
      <form action="/projects" method="POST">
        <label>
          Name: 
          <input type="text" name="name" autocomplete="off">
        </label>
        <label>
          Start Date: 
          <input type="date" name="startDate" autocomplete="off">
        </label>
        <label>
          Complete?
          <input type="checkbox" name="completed">
        </label>
        <label>
          Description: 
        </label>
        <textarea type="text" name="description" id="description" autocomplete="off"></textarea>
        <button type="submit">Create Project</button>
      </form>
    </section>
    
  </main>
  </body>
<%- include('../partials/footer') %>